<VirtualHost *:__PORT__>
    ServerAdmin webmaster@localhost
    DocumentRoot __DOCROOT__

    <Directory __DOCROOT__>
        Options FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/laranode-error.log
    CustomLog ${APACHE_LOG_DIR}/laranode-access.log combined
</VirtualHost>
